<a href="https://colab.research.google.com/github/Bharatgaur/Trading/blob/main/TRADE_PROBABILITIES_BASE_FILE_2%25RISK_Version_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import random

BASE_CAPITAL = 25000
RISK_PERCENTAGE_TRADE = 0.02  # 2% of cumulative capital per trade
LOT_SIZE = 15  # 15 units per trade
RISK_POINTS = 20  # Points risked per trade
LOSS_PER_LOT = LOT_SIZE * RISK_POINTS  # Loss per lot = 15 * 20 = 300
REWARD_PER_LOT = LOT_SIZE * 2.5 * RISK_POINTS  # Reward = 15 * 50 = 750
REWARD_POINTS = 2.5*RISK_POINTS
TARGET_PCT = 40
STOPLOSS_PCT = 60

# **ENTRY PRICE**

In [24]:


# Generate trade numbers from "TRADE 0001" to "TRADE 1000"
trade_numbers = [f"TRADE {str(i).zfill(4)}" for i in range(1, 1001)]

# Create a dictionary to hold data for all columns
data = {
    "TRADE NO": trade_numbers  # First column: Trade numbers
}

# Generate 1000 columns with random numbers between 100 and 500
for col_num in range(1, 1001):
    column_name = f"COLUMN_{col_num}"
    data[column_name] = [random.randint(300, 450) for _ in range(1000)]

# Create the DataFrame with 1001 columns
df = pd.DataFrame(data)

# Save the DataFrame to a single CSV file
df.to_csv('trade_entry.csv', index=False)

# Print confirmation message
print("CSV file 'trade_entry.csv' has been created.")

CSV file 'trade_entry.csv' has been created.

In [25]:
pd.read_csv('trade_entry.csv')

,TRADE NO,COLUMN_1,COLUMN_2,COLUMN_3,COLUMN_4,COLUMN_5,COLUMN_6,COLUMN_7,COLUMN_8,COLUMN_9,...,COLUMN_991,COLUMN_992,COLUMN_993,COLUMN_994,COLUMN_995,COLUMN_996,COLUMN_997,COLUMN_998,COLUMN_999,COLUMN_1000
0,TRADE 0001,320,329,369,396,429,364,421,385,420,...,305,387,368,438,425,317,412,413,328,329
1,TRADE 0002,397,314,377,361,414,327,396,317,316,...,431,424,362,411,300,340,383,334,445,318
2,TRADE 0003,371,365,394,351,322,333,426,315,326,...,401,350,356,450,373,368,424,319,307,436
3,TRADE 0004,435,349,375,385,384,391,415,440,377,...,373,317,424,358,386,402,317,421,340,330
4,TRADE 0005,364,440,323,373,347,371,378,424,365,...,333,442,381,337,346,364,438,313,402,429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,TRADE 0996,335,348,312,313,414,374,429,315,372,...,378,366,329,302,308,429,315,370,341,380
996,TRADE 0997,415,381,399,355,425,405,428,350,326,...,300,319,336,381,427,337,360,391,435,324
997,TRADE 0998,441,376,313,427,371,447,360,402,444,...,349,332,373,393,365,319,390,310,352,390
998,TRADE 0999,384,365,389,306,376,301,306,430,382,...,421,404,414,350,331,432,337,316,424,375
999,TRADE 1000,399,414,415,366,330,332,385,312,419,...,354,312,354,335,305,309,412,312,341,379

# **RANDOM TARGET AND STOPLOSS**

**40 % TARGET 60 % STOPLOSS**

**RISK:REWARD 1:2.5**

In [26]:

# Generate trade numbers from "TRADE 0001" to "TRADE 1000"
trade_numbers = [f"TRADE {str(i).zfill(4)}" for i in range(1, 1001)]

# Create a dictionary to hold data for all columns
data = {
    "TRADE NO": trade_numbers  # First column: Trade numbers
}

# Function to randomly assign "TARGET" (40%) or "STOPLOSS" (60%)
def assign_target_or_stoploss():
    return random.choices(["TARGET", "STOPLOSS"], weights=[TARGET_PCT, STOPLOSS_PCT], k=1)[0]

# Generate 1000 columns with "TARGET" or "STOPLOSS"
for col_num in range(1, 1001):
    column_name = f"COLUMN_{col_num}"
    data[column_name] = [assign_target_or_stoploss() for _ in range(1000)]

# Create the DataFrame with 1001 columns
df = pd.DataFrame(data)

# Save the DataFrame to a single CSV file
df.to_csv('target_stoploss.csv', index=False)

# Print confirmation message
print("CSV file 'target_stoploss' has been created.")

CSV file 'target_stoploss' has been created.

In [27]:
pd.read_csv('target_stoploss.csv')

,TRADE NO,COLUMN_1,COLUMN_2,COLUMN_3,COLUMN_4,COLUMN_5,COLUMN_6,COLUMN_7,COLUMN_8,COLUMN_9,...,COLUMN_991,COLUMN_992,COLUMN_993,COLUMN_994,COLUMN_995,COLUMN_996,COLUMN_997,COLUMN_998,COLUMN_999,COLUMN_1000
0,TRADE 0001,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,...,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS
1,TRADE 0002,TARGET,STOPLOSS,TARGET,TARGET,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,TARGET,...,STOPLOSS,TARGET,TARGET,TARGET,TARGET,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS
2,TRADE 0003,TARGET,TARGET,TARGET,TARGET,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS,...,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,STOPLOSS
3,TRADE 0004,STOPLOSS,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,...,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,TARGET,TARGET,TARGET,STOPLOSS
4,TRADE 0005,TARGET,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET,TARGET,TARGET,TARGET,...,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,TARGET
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,TRADE 0996,STOPLOSS,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,TARGET,...,STOPLOSS,TARGET,STOPLOSS,TARGET,TARGET,STOPLOSS,STOPLOSS,TARGET,TARGET,TARGET
996,TRADE 0997,STOPLOSS,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,TARGET,...,STOPLOSS,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET
997,TRADE 0998,STOPLOSS,TARGET,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,...,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,STOPLOSS
998,TRADE 0999,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS,...,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,STOPLOSS,TARGET,STOPLOSS
999,TRADE 1000,STOPLOSS,TARGET,STOPLOSS,TARGET,TARGET,TARGET,STOPLOSS,STOPLOSS,STOPLOSS,...,TARGET,TARGET,TARGET,STOPLOSS,TARGET,STOPLOSS,STOPLOSS,TARGET,STOPLOSS,STOPLOSS

In [28]:
# Load the CSV file
df = pd.read_csv('target_stoploss.csv')

# Count the frequency of "TARGET" and "STOPLOSS" in COLUMN_1
frequency = df['COLUMN_343'].value_counts()/10

# Print the results
print(frequency)

COLUMN_343
STOPLOSS    59.1
TARGET      40.9
Name: count, dtype: float64

# **PnL**

In [30]:
# Load the two CSV files
entry_df = pd.read_csv('trade_entry.csv')
target_stoploss_df = pd.read_csv('target_stoploss.csv')

# Base capital to be added to the first row of each column
BASE_CAPITAL = 25000

# Create an empty dictionary to hold the PnL data
pnl_data = {
    "TRADE NO": entry_df["TRADE NO"]  # Retain the "TRADE NO" column
}

# Iterate over each column (excluding "TRADE NO") to apply the PnL logic
for column in entry_df.columns[1:]:
    # Calculate PnL values for the column
    pnl_values = target_stoploss_df[column].apply(lambda x: (50 if x == "TARGET" else -20) * LOT_SIZE)

    # Create a Series with the base capital and concatenate it with PnL values
    base_series = pd.Series([BASE_CAPITAL])
    cumulative_pnl = pd.concat([base_series, pnl_values], ignore_index=True).cumsum()

    # Store the cumulative PnL in the dictionary (excluding the initial capital row)
    pnl_data[column] = cumulative_pnl.iloc[1:].values

# Create a DataFrame from the PnL data
pnl_df = pd.DataFrame(pnl_data)

# Save the modified PnL DataFrame to a new CSV file
pnl_df.to_csv('trade_pnl.csv', index=False)

# Print confirmation message
print("CSV file 'trade_pnl.csv' has been created with cumulative PnL and base capital added.")

CSV file 'trade_pnl.csv' has been created with cumulative PnL and base capital added.

In [31]:
pd.read_csv('trade_pnl.csv')

,TRADE NO,COLUMN_1,COLUMN_2,COLUMN_3,COLUMN_4,COLUMN_5,COLUMN_6,COLUMN_7,COLUMN_8,COLUMN_9,...,COLUMN_991,COLUMN_992,COLUMN_993,COLUMN_994,COLUMN_995,COLUMN_996,COLUMN_997,COLUMN_998,COLUMN_999,COLUMN_1000
0,TRADE 0001,24700,24700,24700,25750,24700,24700,24700,24700,25750,...,24700,25750,24700,24700,25750,24700,24700,25750,24700,24700
1,TRADE 0002,25450,24400,25450,26500,24400,24400,25450,24400,26500,...,24400,26500,25450,25450,26500,25450,25450,26500,24400,24400
2,TRADE 0003,26200,25150,26200,27250,25150,25150,26200,24100,26200,...,24100,26200,25150,25150,26200,25150,26200,26200,24100,24100
3,TRADE 0004,25900,25900,26950,28000,24850,24850,25900,23800,25900,...,23800,25900,24850,24850,25900,25900,26950,26950,24850,23800
4,TRADE 0005,26650,25600,27700,27700,24550,25600,26650,24550,26650,...,23500,25600,24550,24550,25600,25600,26650,26650,25600,24550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,TRADE 0996,150400,138850,175600,158800,139900,144100,174550,161950,106300,...,151450,148300,116800,147250,133600,152500,168250,136750,158800,152500
996,TRADE 0997,150100,139600,176350,158500,139600,143800,175300,161650,107050,...,151150,149050,117550,146950,133300,152200,169000,136450,158500,153250
997,TRADE 0998,149800,140350,177100,159250,140350,143500,175000,161350,107800,...,150850,148750,117250,147700,133000,151900,169750,136150,158200,152950
998,TRADE 0999,149500,140050,176800,160000,141100,144250,175750,161050,107500,...,150550,148450,116950,148450,132700,151600,169450,135850,158950,152650
999,TRADE 1000,149200,140800,176500,160750,141850,145000,175450,160750,107200,...,151300,149200,117700,148150,133450,151300,169150,136600,158650,152350

# **QUANTITY CALCULATION**

In [33]:
# Load entry and target/stoploss data
entry_df = pd.read_csv('trade_entry.csv')
target_stoploss_df = pd.read_csv('target_stoploss.csv')

# Create a dictionary to store the final PnL and QTY data
final_data = {"TRADE NO": entry_df["TRADE NO"]}  # Retain "TRADE NO"

# Iterate over each column (excluding "TRADE NO") to calculate cumulative PnL and QTY
for column in entry_df.columns[1:]:
    cumulative_capital = BASE_CAPITAL  # Initialize with BASE_CAPITAL
    pnl_column = []  # Store cumulative PnL values
    qty_column = []  # Store QTY values

    # Loop over each row to calculate QTY and update cumulative PnL
    for i in range(len(entry_df)):
        # Calculate the risk per trade
        risk_per_trade = cumulative_capital * RISK_PERCENTAGE_TRADE

        # Calculate entry price and lot size
        entry_price = entry_df[column].iloc[i]
        qty = int(risk_per_trade / LOSS_PER_LOT) if entry_price > 0 else 0  # Calculate QTY

        qty_column.append(qty)

        # Calculate PnL for the current trade based on target or stoploss
        pnl_value = (REWARD_POINTS if target_stoploss_df[column].iloc[i] == "TARGET" else -RISK_POINTS) * LOT_SIZE
        trade_pnl = qty * pnl_value  # Multiply QTY with PnL per trade

        # Update cumulative capital for the next row
        cumulative_capital += trade_pnl
        pnl_column.append(cumulative_capital)

    # Store the PnL and QTY values in the final data dictionary
    final_data[f"{column}_QTY"] = qty_column
    final_data[f"{column}_CUM_PNL"] = pnl_column

# Create a DataFrame from the final data
final_df = pd.DataFrame(final_data)

# Save the DataFrame to a single CSV file
final_df.to_csv('PnL_variable_lot.csv', index=False)

# Print confirmation message
print("CSV file 'PnL_variable_lot.csv' has been created with QTY and cumulative PnL.")

CSV file 'PnL_variable_lot.csv' has been created with QTY and cumulative PnL.

In [34]:
pd.read_csv('PnL_variable_lot.csv')

,TRADE NO,COLUMN_1_QTY,COLUMN_1_CUM_PNL,COLUMN_2_QTY,COLUMN_2_CUM_PNL,COLUMN_3_QTY,COLUMN_3_CUM_PNL,COLUMN_4_QTY,COLUMN_4_CUM_PNL,COLUMN_5_QTY,...,COLUMN_996_QTY,COLUMN_996_CUM_PNL,COLUMN_997_QTY,COLUMN_997_CUM_PNL,COLUMN_998_QTY,COLUMN_998_CUM_PNL,COLUMN_999_QTY,COLUMN_999_CUM_PNL,COLUMN_1000_QTY,COLUMN_1000_CUM_PNL
0,TRADE 0001,1,24700.0,1,24700.0,1,24700.0,1,25750.0,1,...,1,24700.0,1,24700.0,1,25750.0,1,24700.0,1,24700.0
1,TRADE 0002,1,25450.0,1,24400.0,1,25450.0,1,26500.0,1,...,1,25450.0,1,25450.0,1,26500.0,1,24400.0,1,24400.0
2,TRADE 0003,1,26200.0,1,25150.0,1,26200.0,1,27250.0,1,...,1,25150.0,1,26200.0,1,26200.0,1,24100.0,1,24100.0
3,TRADE 0004,1,25900.0,1,25900.0,1,26950.0,1,28000.0,1,...,1,25900.0,1,26950.0,1,26950.0,1,24850.0,1,23800.0
4,TRADE 0005,1,26650.0,1,25600.0,1,27700.0,1,27700.0,1,...,1,25600.0,1,26650.0,1,26650.0,1,25600.0,1,24550.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,TRADE 0996,2445,35954200.0,1149,18098350.0,12849,202373050.0,4729,69526300.0,1265,...,3156,46396600.0,7787,114471700.0,872,13738000.0,4394,69215200.0,2755,43402600.0
996,TRADE 0997,2396,35235400.0,1206,19002850.0,13491,212491300.0,4635,68135800.0,1240,...,3093,45468700.0,7631,120194950.0,915,13463500.0,4614,67831000.0,2893,45572350.0
997,TRADE 0998,2349,34530700.0,1266,19952350.0,14166,223115800.0,4542,71542300.0,1215,...,3031,44559400.0,8012,126203950.0,897,13194400.0,4522,66474400.0,3038,44660950.0
998,TRADE 0999,2302,33840100.0,1330,19553350.0,14874,218653600.0,4769,75119050.0,1276,...,2970,43668400.0,8413,123680050.0,879,12930700.0,4431,69797650.0,2977,43767850.0
999,TRADE 1000,2256,33163300.0,1303,20530600.0,14576,214280800.0,5007,78874300.0,1339,...,2911,42795100.0,8245,121206550.0,862,13577200.0,4653,68401750.0,2917,42892750.0

In [36]:
# Load the final_PnL.csv file
final_df = pd.read_csv('PnL_variable_lot.csv')

# Extract all columns containing QTY (columns ending with "_QTY")
qty_columns = [col for col in final_df.columns if col.endswith("_QTY")]

# Find the maximum QTY value across all QTY columns
max_qty = final_df[qty_columns].max().max()

print(f"The maximum QTY value is: {max_qty}")

The maximum QTY value is: 67783

In [37]:
# Load the final_PnL.csv file
final_df = pd.read_csv('PnL_variable_lot.csv')

# Extract all columns containing cumulative PnL (columns ending with "_CUM_PNL")
pnl_columns = [col for col in final_df.columns if col.endswith("_CUM_PNL")]

# Find the maximum PnL value across all PnL columns
max_pnl = final_df[pnl_columns].max().max()

print(f"The maximum PnL value is: {max_pnl}")

The maximum PnL value is: 1016751400.0

In [38]:
# Load entry and target/stoploss data
entry_df = pd.read_csv('trade_entry.csv')
target_stoploss_df = pd.read_csv('target_stoploss.csv')

# Create a dictionary to store the final PnL and QTY data
final_data = {"TRADE NO": entry_df["TRADE NO"]}  # Retain "TRADE NO"

# Iterate over each column (excluding "TRADE NO") to calculate cumulative PnL and QTY
for column in entry_df.columns[1:]:
    cumulative_capital = BASE_CAPITAL  # Initialize with BASE_CAPITAL
    pnl_column = []  # Store cumulative PnL values
    qty_column = []  # Store QTY values

    # Loop over each row to calculate QTY and update cumulative PnL
    for i in range(len(entry_df)):
        # Extract entry price and target/stoploss information
        entry_price = entry_df[column].iloc[i]
        target_or_stoploss = target_stoploss_df[column].iloc[i]

        # Calculate the risk per trade based on the current cumulative capital
        risk_per_trade = cumulative_capital * RISK_PERCENTAGE_TRADE

        # Calculate QTY for the current trade dynamically
        qty = int(risk_per_trade / LOSS_PER_LOT) if entry_price > 0 else 0
        qty_column.append(qty)

        # Calculate Buy and Sell Values
        buy_value = entry_price * LOT_SIZE * qty
        sell_value = (entry_price + (REWARD_POINTS if target_or_stoploss == "TARGET" else -RISK_POINTS)) * LOT_SIZE * qty

        # Calculate Net PnL
        net_pnl = sell_value - buy_value

        # Calculate Transaction Charges
        brokerage = 0.01
        transaction_charges_buy = 0.03503 / 100 * buy_value
        transaction_charges_sell = 0.03503 / 100 * sell_value
        stt = 0.1 / 100 * sell_value
        ipft = 0.0005 / 100 * (buy_value + sell_value)
        stamp_duty = 0.003 / 100 * (buy_value + sell_value)
        sebi_charges = 0.0001 / 100 * (buy_value + sell_value)

        # Total Charges
        total_charges = (brokerage +
                         transaction_charges_buy +
                         transaction_charges_sell +
                         stt +
                         ipft +
                         stamp_duty +
                         sebi_charges)

        # GST Calculation
        gst = 0.18 * total_charges

        # Final PnL Calculation
        if net_pnl > 0:  # Profit scenario
            final_pnl = net_pnl - (total_charges + gst)
        else:  # Loss scenario
            final_pnl = net_pnl + (-total_charges - gst)

        # Update cumulative capital for the next row
        cumulative_capital += final_pnl
        pnl_column.append(cumulative_capital)

    # Store the QTY values as integers and cumulative PnL as floats in the final data dictionary
    final_data[f"{column}_QTY"] = qty_column
    final_data[f"{column}_CUM_PNL"] = pnl_column

# Create a DataFrame from the final data
final_df = pd.DataFrame(final_data)

# Format the cumulative PnL column to 2 decimal places
for column in entry_df.columns[1:]:
    final_df[f"{column}_CUM_PNL"] = final_df[f"{column}_CUM_PNL"].apply(lambda x: f"{float(x):.2f}")

# Save the DataFrame to a CSV file
final_df.to_csv('final_PnL_charges.csv', index=False)

# Print confirmation message
print("CSV file 'final_PnL_charges.csv' has been created with QTY as integers and cumulative PnL formatted to two decimal places.")

CSV file 'final_PnL_charges.csv' has been created with QTY as integers and cumulative PnL formatted to two decimal places.

In [39]:
pd.read_csv('final_PnL_charges.csv')

,TRADE NO,COLUMN_1_QTY,COLUMN_1_CUM_PNL,COLUMN_2_QTY,COLUMN_2_CUM_PNL,COLUMN_3_QTY,COLUMN_3_CUM_PNL,COLUMN_4_QTY,COLUMN_4_CUM_PNL,COLUMN_5_QTY,...,COLUMN_996_QTY,COLUMN_996_CUM_PNL,COLUMN_997_QTY,COLUMN_997_CUM_PNL,COLUMN_998_QTY,COLUMN_998_CUM_PNL,COLUMN_999_QTY,COLUMN_999_CUM_PNL,COLUMN_1000_QTY,COLUMN_1000_CUM_PNL
0,TRADE 0001,1,24690.44,1,24690.16,1,24688.90,1,25736.34,1,...,1,24690.53,1,24687.55,1,25735.80,1,24690.19,1,24690.16
1,TRADE 0002,1,25426.74,1,24380.78,1,25425.83,1,26473.77,1,...,1,25428.63,1,25424.30,1,26474.09,1,24376.71,1,24380.66
2,TRADE 0003,1,26163.87,1,25118.09,1,26162.23,1,27211.52,1,...,1,25117.56,1,26159.76,1,26164.56,1,24067.55,1,24067.46
3,TRADE 0004,1,25850.70,1,25855.90,1,26899.23,1,27948.20,1,...,1,25853.71,1,26898.57,1,26900.11,1,24805.65,1,23757.58
4,TRADE 0005,1,26588.04,1,25542.58,1,27637.86,1,27636.98,1,...,1,25542.77,1,26585.31,1,26590.77,1,25541.79,1,24492.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,TRADE 0996,1112,16336359.42,491,7736440.21,5480,86262311.48,1948,28628358.06,631,...,1363,20030234.77,3776,55475671.02,362,5709511.20,2015,31713439.02,1232,19388897.37
996,TRADE 0997,1089,15996014.36,515,8115902.11,5750,90495774.79,1908,28035642.84,618,...,1335,19616274.45,3698,58202865.08,380,5591035.97,2114,31051424.30,1292,20343178.41
997,TRADE 0998,1066,15661987.90,541,8514606.18,6033,94953876.68,1869,29410060.56,605,...,1307,19211734.57,3880,61060628.11,372,5476000.35,2070,30408579.05,1356,19920451.49
998,TRADE 0999,1044,15336722.12,567,8338291.21,6330,92980726.21,1960,30858838.39,635,...,1280,18811013.58,4070,59798591.79,365,5363060.67,2027,31899376.96,1328,19507078.43
999,TRADE 1000,1022,15017829.61,555,8746651.24,6198,91043665.98,2057,32375443.63,666,...,1254,18423271.59,3986,58553222.85,357,5626877.99,2126,31239874.46,1300,19102257.92

In [40]:
# Load the final_PnL.csv file
final_df = pd.read_csv('final_PnL_charges.csv')

# Extract all columns containing QTY (columns ending with "_QTY")
qty_columns = [col for col in final_df.columns if col.endswith("_QTY")]

# Find the maximum QTY value across all QTY columns
max_qty = final_df[qty_columns].max().max()

print(f"The maximum QTY value is: {max_qty}")

The maximum QTY value is: 33353

In [41]:
# Load the final_PnL.csv file
final_df = pd.read_csv('final_PnL_charges.csv')

# Extract all columns containing cumulative PnL (columns ending with "_CUM_PNL")
pnl_columns = [col for col in final_df.columns if col.endswith("_CUM_PNL")]

# Find the maximum PnL value across all PnL columns
max_pnl = final_df[pnl_columns].max().max()

print(f"The maximum PnL value is: {max_pnl}")

The maximum PnL value is: 500298428.97